header{
    align-content: center
    width: 100%;    
}
body{
    font-size: 15px;
    color: aqua;
    background-color: aliceblue;
    width: 100%
}
ul{
    font-family:fantasy;
    font-size: 16 px;
    
}
footer{
    font-family: cursive;
    width: 100%;
    
}